/* stylelint-disable declaration-block-single-line-max-declarations */
@import url('/styles/layouts.css');
@import url('/styles/sidebar.css');

.hero-carousel {
  max-width: 1920px;
  aspect-ratio: 1920 / 800;
  margin: 0 auto;
}

.news-detail {
  h1 {
    text-align: center;
    margin: 3px 0 60px;
  }


  .post-metadata {
    display: block;
    font-weight: 400;
    color: #383838;
    text-align: center;
    box-sizing: border-box;
    font-size: .85em;
    line-height: 1.5em;
    margin-bottom: 10px;
  }


  .recent-news li {
    margin: 16px 0;
  }
} /* .news-detail */


.sharethis {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 20px 0;
  margin-bottom: 60px;
  text-align: center;
}
