header * {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  margin: auto;
  z-index: 9;
  max-width: var(--max-content-width);
  height: inherit;
  font-family: 'lato', sans-serif;
  font-size: 16px;
}

#logo {
  position: absolute;
  top: 18px;
  left: 40px;
  display: inline-block;
}

/* promo & phone */
a#promo,
a#phone {
  position: absolute;
  top: 8px;
  left: 170px;
  color: var(--link-light-gray);
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  line-height: .9em;
}

a:hover#promo {
  color: var(--dark-blue);
}

#promo span {
  display: block;
  font-size: .8em;
  font-weight: 400;
}

a#promo span::after {
  content: ' >';
  color: var(--yellow);
}

a#phone {
  top: 0;
  left: 764px;
  padding: 8px;
}

a:hover#phone {
  background: var(--dark-blue);
  color: #fff;
}


/* search form */
#search input,
.search-icon {
  position: absolute;
  top: 4px;
  font: inherit;
  font-family: inherit;
  color: #555;
  height: 28px;
  font-size: 12px;
  border: 1px solid #cccccc;
  background: #fff;
}

#search .search-icon {
  left: 432px;
  width: 46px;
  border-right: 0px solid;
  border-radius: 4px 0 0 4px;
}

#search .search-icon img {
  opacity: .25;
  padding: 5px 0 0 12px;
}


#search input[type="text"] {
  left: 478px;
  border-left: 0px solid;
  border-radius: 0 4px 4px 0;
  width: 254px;
  color: #555;
}

input[type="text"]::placeholder {
  color: #999;
}

#search input:focus[type="text"] {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}


/* chat */
#chat {
  position: absolute;
  top: 4px;
  right: 183px;
  cursor: pointer;
}



/* nav */
nav {
  position: absolute;
  bottom: 0;
  left: 260px;
}

nav ul {
  list-style: none;
  position: relative;
}

/* top level */
nav>div>ul>li {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  padding: 0 14px;
  font-weight: 600;
  font-size: 1em;
  color: var(--link-light-gray);
  text-transform: uppercase;
  float: left;
}

nav>div>ul>li:hover,
nav>div>ul>li.on {
  background: var(--dark-blue);
  color: #fff;
}


/* all links */
nav a {
  display: block;
  text-decoration: none;
}

/* dropdown menu */
nav>div>ul>li>ul {
  display: none;
  position: absolute;
  top: 50px;
  width: 520px; /* todo: fix so this is not hard coded */
  margin-left: -14px;
  padding: 4px 0 14px;
  background: var(--dark-blue);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

nav>div>ul>li.on>ul {
  display: block;
}

/* left col */
nav>div>ul>li>ul>li {
  text-transform: none;
  padding: 6px 0 0;
  font-size: .85em;
  line-height: 1.6em;
  font-weight: normal;
}

/* left col links */
nav>div>ul>li>ul>li a {
  padding: 0 12px;
  text-decoration: none !important;
  white-space: nowrap;
  cursor: pointer;
}

nav>div>ul>li>ul>li a:hover {
  background: var(--light-blue);
}

/* headings */
nav>div>ul>li>ul>li>a {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--yellow);
}

nav>div>ul>li>ul>li strong a {
  color: #fff;
}

nav>div>ul>li>ul>li>ul>li>a {
  color: #fff !important;
}

/* right column */
.right-col {
  position: absolute;
  top: 0;
  left: 240px;
  width: 280px;
  height: 100%;
  background: #fff;
  color: #000;
}