header * {
  padding: 0;
  margin: 0;
}




nav {
  position: relative;
  z-index: 99999;

}

nav ul {
  list-style: none;
  position: relative;
}

/* top level */
nav > div > ul > li {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  padding: 0 14px;
  background: #dfdfdf;
}

nav > div > ul > li:hover,
nav > div > ul > li.on {
  background: var(--dark-blue);
  color: #fff;
}


/* all links */
nav a {
  display: block;
  text-decoration: none;
}

/* dropdown menu */
nav > div > ul > li > ul {
  display: none;
  position: absolute;
  width: 420px;
  top: 50px;  /* the height of the main nav */
  margin-left: -14px;
  background: var(--dark-blue);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  font-size: 14px;
}
nav > div > ul > li.on > ul { display: block; }

/* left col */
nav > div > ul > li > ul > li {
  /* width: 220px; */
}

/* left col links */
nav > div > ul > li > ul > li a {
  padding: 1px 8px;
  text-decoration: none !important;
  white-space: nowrap;
  cursor: pointer;
  color: var(--yellow) !important;
}

nav > div > ul > li > ul > li a:hover {
  background: var(--light-blue);
}


nav > div > ul > li > ul > li > ul > li > a {
  color: #fff !important;
}

/* right column */
.right-col {
  position: absolute;
  top: 0;
  left: 220px;
  width: 200px;
  height: 100%;
  background: #fff;
  color: #000;
}