/* stylelint-disable declaration-block-single-line-max-declarations, no-descending-specificity */

header * {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  margin: auto;
  z-index: 9;
  max-width: var(--max-content-width);
  height: inherit;
  font-family: var(--body-font-family);
  font-size: 16px;
}

.header a {  text-decoration: none !important }

#logo {
  position: absolute;
  top: 18px;
  left: 40px;
  display: inline-block;
}

/* promo & phone */
a#promo,
a#phone {
  position: absolute;
  top: 8px;
  left: 170px;
  color: var(--link-light-gray);
  font-size: 1em;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  line-height: .9em;
}
a:hover#promo { color: var(--dark-blue) }

#promo span {
  display: block;
  font-size: .72em;
}

a#promo span::after {
  content: ' >'; /* TODO: perhaps use font-awesome - determin if it's necessary */
  font-size: 1.2em;
  color: var(--yellow);
}

a#phone {
  top: 0;
  left: 764px;
  padding: 8px;
}

a:hover#phone {
  background: var(--dark-blue);
  color: #fff;
}

/* search form */
#search input,
.search-icon {
  position: absolute;
  top: 4px;
  font: inherit;
  font-family: inherit;
  color: #555;
  height: 28px;
  font-size: 12px;
  border: 1px solid #ccc;
  background: #fff;
}

#search .search-icon {
  left: 432px;
  width: 40px;
  border-right: 0 solid;
  border-radius: 4px 0 0 4px;
}

#search .search-icon img {
  opacity: .25;
  padding: 5px 0 0 12px;
}

#search input[type="text"] {
  left: 472px;
  border-left: 0 solid;
  border-radius: 0 4px 4px 0;
  width: 256px;
  color: #555;
  padding-left: 4px;
}

input[type="text"]::placeholder {
  color: #999;
}

#search input:focus[type="text"] {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgb(102 175 233 / 60%), 0 0 8px rgb(102 175 233 / 60%);
}

/* chat */
#chat {
  position: absolute;
  top: 4px;
  right: 183px;
  cursor: pointer;
}

/* nav */
nav {
  position: absolute;
  bottom: 0;
  left: 260px;
  user-select: none;
}

nav a { display: block }

nav ul {
  list-style: none;
  position: relative;
}

/* top level */
nav>div>ul>li {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  padding: 0 14px;
  font-weight: 600;
  font-size: 1em;
  color: var(--link-light-gray);
  text-transform: uppercase;
  float: left;
}

nav>div>ul>li:hover,
nav>div>ul>li.on {
  background: var(--dark-blue);
  color: #fff;
}

/* dropdown menus */
nav>div>ul>li>ul {
  display: none;
  position: absolute;
  top: 50px;
  margin-left: -14px;
  padding: 4px 0 14px;
  background: var(--dark-blue);
  box-shadow: 0 6px 12px rgb(0 0 0 / 17%);
}
nav>div>ul>li.on>ul { display: block }

nav>div>ul>li>ul>li {
  text-transform: none;
  padding: 6px 0 0;
  font-size: .85em;
  line-height: 1.6em;
  font-weight: normal;
}

/* drowdown (left col) */
nav>div>ul>li:nth-child(1)>ul>li { width: 230px }
nav>div>ul>li:nth-child(2)>ul>li { width: 153px }

/* drowdown (right col) = left-col [+] right-col (260px) */
nav>div>ul>li:nth-child(1)>ul { width: 490px }
nav>div>ul>li:nth-child(2)>ul { width: 413px }

nav>div>ul>li>ul>li a {
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
nav>div>ul>li>ul>li a:hover { background: var(--light-blue) }

/* headings */
nav>div>ul>li>ul>li>a {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--yellow);
  text-wrap: nowrap;
}

nav>div>ul>li>ul>li>ul>li>a, /* all 3rd level links */
nav>div>ul>li>ul>li>ul>li> strong a, /* 3rd level bold links */
nav>div>ul>li>ul>li:not(:has(> ul)) >a /* headings w/out children */
{ padding-left: 15px; color: #fff }

/* right column */
nav .r-col {
  position: absolute;
  top: 0;
  right: 0;
  width: 260px;
  height: 100%;
  background: #fff;
  color: #000;
}

nav .r-col .section { padding: 10px }

nav .r-col p {
  text-transform: none;
  font-family: var(--body-font-family);
  font-size: 14px;
  line-height: 1.4em;
  color: var(--link-light-gray);
}

nav .r-col p.button-container { float: right }

/* TODO: button style could be moved to styles.css */
nav .r-col .button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  user-select: none;
  border-radius: 3px;
  color: var(--dark-blue);
  background: var(--yellow);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
nav .r-col .button:hover { color: #fff; background: var(--dark-blue); }

nav .r-col picture img { height: 132px; width: 240px; }

nav .r-col p:not(:first-child) picture img { margin-top: 30px }

/* hamburger button */
.bgr-btn {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 26px;
  padding: 9px 10px;
  align-self: center;
  cursor: pointer;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.bgr-btn span {
  display: block;
  height: 2px;
  background: #888;
  border-radius: 1px;
  position: relative;
}
.bgr-btn span+span { margin-top: 6px }


@media (width <= 1170px) {

  #promo, #search, #phone, #chat { display: none }

  #logo { left: 34px }

  .bgr-btn { display: block }

  nav {
    top: var(--nav-height);
    left: 0;
  }
  
  nav>div {
    position: absolute; 
    inset: 0;
    height: 0;
    width: 100vw;
    padding: 0 20px;
    overflow: hidden;
    background: #fff;
    transition: all 600ms ease-in-out;  /* match js -> navTransitionTime */
  }
  .mobile-nav-open { position: fixed; overflow-y: scroll; }   /* disable content scrolling */
  .mobile-nav-open nav>div { height: 100vh }
  .mobile-nav-open.done nav>div { overflow: auto }

  nav>div>ul { 
    height: 840px; /* max height with items expanded - revisit to make fluid */ 
  }

  /* top level */
  nav>div>ul>li {
    clear: left;
    height: auto;
    padding: 10px 0 0 14px;
  }

  nav>div>ul>li:not(:first-child).on {
    margin-top: 10px;
  }

  /* dropdown menus */
  nav>div>ul>li>ul {
    position: relative;
    top: auto !important;
    padding: 10px 0;
    width: calc(100vw - 46px) !important;
    box-shadow: none;
  }

  nav>div>ul>li.on>ul {
    border-top: 1px solid #fff;
    margin-top: 10px;
  }
}

@media (width <= 540px) {
  nav .r-col { display: none }
}