.banner .banner-picture {
  position: relative;
  height: 375px;
  padding: 0 16px;
  max-width: 1200px;
  background-size: cover;
  background-position: center;
}

.banner .banner-element {
  padding-bottom: 25px;
  background-size: cover;
  background-position: center;
}

.banner .spotlight-link {
  color: inherit;
}

.banner .spotlight-text-container h2 {
  font-size: 42px;

  @media (max-width: 768px) {
    font-size: 36px;
  }

  font-weight: 900 !important;
  line-height: 1em;
  padding-bottom: 20px;
  font-family: var(--heading-font-family);
}

.banner .spotlight-text-container h3 {
  font-size: 36px;

  @media (max-width: 768px) {
    font-size: 24px;
  }

  font-weight: 900 !important;
  line-height: 1em;
  padding-bottom: 20px;
  font-family: var(--heading-font-family);
}

.banner .spotlight-button {
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 8px 12px;
}

.banner .spotlight-circle-container {
  max-height: 375px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.banner .spotlight-circle-container .spotlight-circle {
  border-radius: 288px;
  height: 530px;
  margin: auto;
  border: 10px solid white;
  transform: translateY(-15%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .spotlight-text-container {
  text-align: center;
  padding: 0 15px;
  margin: auto;
}

.banner .mobile-bannertext-container {
  padding: 20px;
}

.banner-wrapper:nth-child(odd) .spotlight-text-container h2 {
  color: var(--link-color);
}

.banner-wrapper:nth-child(even) .spotlight-text-container h2 {
  color: var(--background-color);
}

.banner-wrapper:nth-child(odd) .spotlight-text-container h3 {
  color: var(--dark-blue);
}

.banner-wrapper:nth-child(even) .spotlight-text-container h3 {
  color: var(--yellow);
}

.banner-wrapper:nth-child(odd) .spotlight-circle-container {
  margin-left: 50%;
}

.banner-wrapper:nth-child(even) .spotlight-circle-container {
  margin-right: 50%;
}

/* white translucent */
.banner-wrapper:nth-child(odd) .spotlight-circle-container .spotlight-circle {
  background: rgba(255 255 255 / 50%);
}

/* blue translucent */
.banner-wrapper:nth-child(even) .spotlight-circle-container .spotlight-circle {
  background: rgba(0 50 100 / 50%);
}

/* white solid */
.banner-wrapper:nth-child(odd) .mobile-bannertext-container {
  background: rgba(240 240 240 / 100%);
}

/* blue solid */
.banner-wrapper:nth-child(even) .mobile-bannertext-container {
  background: rgba(0 50 100 / 100%);
}

@media (max-width: 999px) {
  .banner .spotlight-circle-container .spotlight-circle {
    display: none;
  }

  .banner .mobile-bannertext-container {
    display: block;
  }

  .banner .spotlight-input {
    width: 66.6667%;
  }

}

@media (min-width: 1000px) {
  .banner .spotlight-circle {
    width: 440px;
  }

  .banner .mobile-bannertext-container {
    display: none;
  }

  .banner .spotlight-input {
    width: 170px;
  }
}

@media (min-width: 1200px) {
  .banner .spotlight-circle {
    width: 540px;
  }

  .banner .spotlight-input {
    width: 240px;
  }
}
