@import url("/styles/layouts.css");

.specialists {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 250px 250px;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: var(--link-color)
}

.wip {
  background-color: lightgray;
}

.content-wrapper .repeating-grid {
  --grid-repeat: 2;

  grid-template-columns: auto 292px;

  > div:nth-child(1) {
    background-color: lightyellow;
  }

  > div:nth-child(2) {
    background-color: lightcyan;
  }
}

/* .agent-image > img { */

/*  width: 175px; */

/*  border: 1px solid #e9eae9; */

/*  border-radius: 50%; */

/* } */

/* stylelint-disable no-descending-specificity */

.community main .section {
  background-color: white;
}

.block {
  display: block;
}

.community main .content-wrapper {
  background-color: lightblue;
}

.community main .content-wrapper .tabs {
  background-color: lightgreen;
  height: 30px;
  width: 100%;
}

.hero-carousel {
  max-width: 1920px;
  aspect-ratio: 1920 / 800;
  margin: 0 auto;
}

.news-detail h1 {
  text-align: center;
  box-sizing: border-box;
  line-height: 1.1;
  font-size: 36px;
  margin: 3px 0 2px;
  font-weight: 900;
  color: var(--light-blue);
}

.post-metadata {
  display: block;
  font-weight: 400;
  color: #383838;
  text-align: center;
  box-sizing: border-box;
  font-size: .85em;
  line-height: 1.5em;
  margin-bottom: 10px;
}

/* breadcrumbs */
.breadcrumbs {
  font-size: .8em;
  color: #c8c8c8;
  padding: 8px 0;
  margin-bottom: 10px;
  user-select: none;
}

.breadcrumbs a {
  color: #aaa;
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: #0055b9;
}

/* layout - may move to styles */
.content-wrapper {
  display: flex;
}

.content {
  flex: 0 0 75%;
}

@media (width <= 800px) {
  .content-wrapper { display: block }
}
