.top-banner {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
    max-height: 60px;
    opacity: 1;
    overflow: hidden;
    position: relative;
    z-index: 1000;
  }
  
  .top-banner.dismissed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0;

    /* pointer-events: none; */
  }
  
  .top-banner-wrapper {
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .top-banner-content {
    text-align: center;
  }
  
  .top-banner-link {
    color: var(--light-color);
    text-decoration: none;
    font-weight: 600;
  }
  
  .top-banner-link:hover {
    text-decoration: underline;
  }
  
  .top-banner-close {
    background: none;
    border: none;
    color: var(--light-color);
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: opacity 0.3s ease-out;
  }

  .top-banner-close:hover {
    background-color: rgb(0 0 0 / 10%);
  }

  .top-banner.dismissed .top-banner-close {
    opacity: 0;
  }
  
  .top-banner-close::before {
    content: "\00D7"; /* Unicode for multiplication sign, looks like an "x" */
  }
  
  body {
    transition: padding-top 0.5s ease-out;
  }

  header {
    transition: top 0.5s ease-out;
  }

  body.has-top-banner {
    padding-top: 48px;
  }
  
  body.has-top-banner .top-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }