/* stylelint-disable declaration-block-single-line-max-declarations */
.section.carousel-container { padding: 0 }

.carousel-wrapper * {
  padding: 0;
  margin: 0;
}

.carousel-wrapper {
  max-width: 1920px !important;  /* use var */
}

.carousel .slides-container {
  position: relative;
  height: 800px;
  width: 100%;
}

.carousel .slides {
  position: relative;
  list-style: none;
  display: flex;
  height: inherit;
}

.carousel .slide {
  display: flex;
  flex: 0 0 100%;
  scroll-snap-align: start;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: inherit;
}

/* SLIDE ANIMATION */
.carousel.slide .slides {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
}
.carousel.slide .slides::-webkit-scrollbar { display: none }


/* FADE ANIMATION */
.carousel.fade .slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 700ms ease-in; /* must fadeDuration in js */
}
.carousel.fade .slide.active, .carousel.fade .slide.transition { display: block; opacity: 1; }
.carousel.fade .slide.ready { display: block }
.carousel.fade .slide.transition { z-index: 2 }


/* BUTTONS */
.carousel .buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
}

.carousel .buttons button {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  background: transparent;
  outline: none;
}
.carousel .buttons button.next { left: auto; right: 0; }

.carousel .buttons button::after {
  position: absolute;
  display: block;
  content: '';
  border: 8px white solid;
  border-bottom: 0;
  border-left: 0;
  height: 14px;
  width: 14px;
  top: 50%;
  left: 80px;
  transform: translate(-50%, -50%) rotate(-135deg);
  opacity: .5;
  transition: opacity 200ms;
}
.carousel .buttons button:hover::after{ opacity: 1 }

.carousel .buttons button.next::after {
  transform: translate(-50%, -50%)  rotate(45deg);
  left: auto;
  right: 80px;
}


/* SLIDE PICTURE */
.carousel .slide .slide-image picture {
  position: absolute;
  inset: 0;
}

.carousel .slide .slide-image picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* SLIDE CONTENT */
.carousel .slide .slide-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font-family);
  color: #fff;
  text-shadow: 2px 2px 2px #000, 0px 0px 10px #000;
}
